<!DOCTYPE html>
<html lang="ro">
<head>
	<link rel="shortcut icon" href="favicon/favicon-16x16.png" type="image/x-icon">
	<link rel="icon" href="favicon/favicon-32x32.png" type="image/x-icon">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="/css/style1.css">
<title> Joac-o p-asta </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Un minunat magazin online unde toate dorintele celor mici pot deveni realitate.">
    <meta name="keywords" content="toys">
	<meta name="author" content="Joac-o p-asta SRL">
</head>
<body onload="animateBg()">
    <header>
		<%- include ('../fragmente/header') %>
    </header>
<main>
    
    <section id="produse">
		
		<h2 ondblclick="namePrompt()">Produse</h2>
        
		<section id ="brand">
			<h3>Brand-uri</h3>
			<div class="prodContainer">
				<div><a href="/pgLego" >
					<p>Lego</p>
					<img src="res/lego_pile_index.jfif" alt="Lego pile">
				</a></div>
				<div><a href="/pgHasbro">
					<p>Hasbro</p>
					<img src="res/hasbro_index.jfif"  alt="Hasbro index">
				</a></div>
				<div><a href="/pgHelloKitty">
					<p>Hello Kitty</p>
					<img src="res/hello_kitty_index.jpeg"  alt="HelloKitty index">
					</a></div>
			</div>		
		</section>
        <section id ="categorie">
			<h3>Categorii</h3>
			<div class="prodContainer">
				<div><a href="/pgSeturiCons">
					<p>Seturi constructie</p>
					<img src="res/set_constructie_index.jpeg"  alt="SeturiCons index"><br><br>
				</a></div>
				<div><a href="/pgFigurine">
					<p>Figurine</p>
					<img src="res/figurine_index.jpeg"  alt="Figurine index"><br><br>
				</a></div>
				<div><a href="/pgExterior">
					<p>Pentru exterior</p>
					<img src="res/exterior_index.jpeg"  alt="Exterior index"><br><br>
				</a></div>
			</div>				
		</section>
    </section>

    <section id="promo">
        <h2>Promotii</h2>
			<p id="text1"><strong>Cu</strong> ocazia venirii primaverii oferim o reducere de 30% la toate jucariile din gama Barbie,
				aplicabil la toate produsele, in limita stocului disponibil.</p>
    </section>
	<section id="livrare">
		<h2>Livrare si Retur</h2>
            <p id="text2"><strong>Livrarea</strong> produselor se face prin curierat rapid. Costul transportului este <b>17.9 lei</b> indiferent de greutate
			sau adresa de livrare. Livrarea se va realiza in intervalul 24-48 de ore de la confirmarea comenzii exceptand
			duminica si sarbatorile legale. In cazuri exceptionale, in care produsul comandat nu se afla in stoc la
			momentul plasarii comenzii, veti fi anuntat de operatorii Joacopasta in legatura cu posibilitatea de livrare
			la o data ulterioara, fara a garanta insa acest lucru. Este posibil ca un produs cu stoc epuizat sa nu se mai 
			poata readuce in stoc, respectiv pretul sau caracteristicile acestuia sa difere la o achizitie ulterioara.</p>

    </section>
	<section id="despre">
		<h2>Despre noi</h2>
            <p >
            <strong>Lansat</strong> din profunda dragoste pentru copii, magazinul online de jucarii <b>www.Joacopasta.ro</b> este permanent fidel
			crezului sau - educatia prin jocuri si jucarii creeaza zambete care vor dainui. 
            </p>
			<p>Credem ca fiecare copil este unic, avand o anumita inteligenta dominanta. Ramane in sarcina fiecarui
			parinte sa descopere minunatia din copilul sau.</p>

	</section>
	<section id="program">
		<h2>Program Magazin</h2>
		
		<table class="opening-hours__days">
			 
				<tr class="day">
					<td class="day__label">Luni</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Marti</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Miercuri</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Joi</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Vineri</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Sambata</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
				<tr class="day">
					<td class="day__label">Duminica</td>
					<td class="day__hours">10:00 / 22:00</td>
				</tr>
		</table>
	</section>
	<script src="js/textAnimations.js"></script>
	<script src="js/background.js"></script>
</main>
<footer>
	<%- include ('../fragmente/footer') %>
</footer>
</body>
</html>