<!DOCTYPE html>
<html lang="ro">
    <head>
        <link rel="shortcut icon" href="favicon/favicon-16x16.png" type="image/x-icon">
	    <link rel="icon" href="favicon/favicon-32x32.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/style1.css">
        <title> SeturiConstructie </title>
            <meta charset="UTF-8">
            <meta name="description" content="Jucarii constructie">
            <meta name="keywords" content="toys">
            <meta name="author" content="Joac-o p-asta SRL">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <%- include ('../fragmente/header') %>
        </header>
        <main>
            <div class="gridContainer">
                <div class="gridItem">
                    <img src="res/LegoHospital.jpeg" alt="Spital" class="respImg" >
                    <p>Set Lego Spital</p>
                    <div class="centered">260 RON</div>
                </div>
                <div class="gridItem">
                    <img src="res/LegoCar.jpeg" alt="Camping" class="respImg" >
                    <p>Set Lego Camping</p>
                    <div class="centered">260 RON</div>
                </div>
            </div>
            
           
        </main>
        <footer>
            <%- include ('../fragmente/footer') %>
        </footer>
    </body>
    
</html>